* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 50px; */
  font-family: 'Dosis', sans-serif;
}

.pc {
  display: none;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  transition-duration: 0.5s;
}

button:hover {
  background: white;
  color: #fcb11d;
}

header .awesome {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
}

li {
  list-style: none;
}

select, button, input {
  display: block;
}

.submit_button {
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background-color: #fcb11d;
  border: none;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

 .container {
  width: 96%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  display: block;
  /* background-color: red; */
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
}

form select, form input {
  background-color: #328cc1;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  border: 2px white solid;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
}

form input {
  padding: 10px 14px;
}


h2, h3 {
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Header starts here */

.top_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: inline;
  width: 50%;
}

.logo h1 a img {
  max-width: 65%;
  vertical-align: middle;
  margin: 10px;
}

.menu_button {
  background-color: #0b3c5d;
  width: 50%;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu_button button i {
  display: inline;
}

/* MAIN - banner starts here */

.banner_wrapper {
  background-image: url("../img/mainbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
}

.text_outlay_wrapper {
  background: rgba(11,60,93,0.65);
  max-width: 80%;
  margin-top: 300px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
}

.text_outlay_wrapper h3 {
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

.text_outlay_wrapper h2 {
  color: #ffb21c;
  padding-bottom: 10px;
  padding-top: 10px;
}


/* Courses Container */

.courses_container {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.top_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.course {
  background-color: #0b3c5d;
  display: inline;
  width: 45%;
  padding: 15px;
}
.course a:link, a:visited {
  color: white;
  text-decoration: none;
}

.course h3 {
  color: #ffb21c;
  text-align: center;
}

.course p {
  line-height: 20px;
  color: white;
}

.course ul li {
  line-height: 30px;
  padding-left: 20%;
}

.course_submission_form {
  background-color: #0b3c5d;
  padding-top: 12px;
  padding-bottom: 30px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.course_submission_form h3 {
  color: #ffb21c;
}



/* Admissions  */

.admission_container {
  background-color: #0b3c5d;
  color: white;
  text-align: center;
}

.join_us_heading {
  width: 95%;
  margin: 0 auto;
}

.join_us_image {
  max-width: 95%;
  margin: 0 auto;
}

.join_us_image img {
  width: 100%;
}

/* News Events About Us */

.news_and_events {
  background-color: #fbfbfb;
}

.news_and_events .container {
  max-width: 90%;
  padding-bottom: 30px;
}

.news_and_events h2 {
  text-align: center;
  font-variant: small-caps;
  font-size: 32px;
  color: #0b3c5d;
  /* position: relative; */
  padding-bottom: 10px;
  text-decoration: underline;
}

.news_and_events h3 {
  padding-bottom: 5px;
  padding-top: 5px;
}

/* .news_and_events a {
  text-decoration: none;
  color: #348cc1;
} */

.news_and_events button{
  display: inline;
  background: none;
  border: none;
  font-size: 14px;
  color: #348cc1;
}

/* .news_and_events h2::after {
  content: ' ';
  background: #0b3c5d;
  width: 30%;
  height: 2px;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 100%;
} */



.news_container {
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 1%;
}


.news_container button {
  position: absolute;
  bottom: 1%;
}

.news_article {
  padding-bottom: 10px;
}

.events_container {
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 1%;
}

.events_container button {
  position: absolute;
  bottom: 1%;
}

.event_list:nth-child(2) {
 display: none;
}

.event_list:nth-child(3) {
 display: none;
}

.event_list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.display_icon {
  background-color: #fcb11d;
  margin-top: 10px;
  color: white;
  border: none;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.display_icon p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.display_icon p span {
  font-family: 'Dosis', sans-serif;
  display: block;
  font-size: 50px;
}

.display_text {
  margin-left: 20px;
}

.display_text h3 {
  padding-bottom: 10px;
}

.aboutus_container {
  padding-bottom: 30px;
  margin-bottom: 1%;
  max-width: 99%;
  margin: 0 auto;
  position: relative;
}

.aboutus_container button {
  position: absolute;
  bottom: 1%;
}


.aboutus_container img {
  margin-top: 2.5%;
  width: 100%;
}

.aboutus_container p {
  margin-top: 2.5%;
  line-height: 1.3;
  margin-bottom: 2.5%;
  padding-bottom: 1%;
}
/* Research News */

.research h2 {
  text-align: center;
  font-size: 32px;
  color: #0b3c5d;
  padding-bottom: 3%;
  text-decoration: underline;
}

.research_box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.research_box img{
  width: 100%;
  padding: 0;
  display: block;
}

.research_para {
  background: #0b3c5d;
  color: white;
}

.research_para h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.research_para .container {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  text-align: center;
  background: #fcb11d;
  color: #0b3c5d;
  padding: 5px 0px;
  font-weight: bold;
}
/* FOOTER */

.footer {
  background: #0b3c5d;
}

.footer .container {
  width: 100%;
  padding: 0;
}

.contactus {
  color: white;
  text-align: center;
  position: relative;
}

.contactus .container {
  padding-top: 5%;
  padding-bottom: 15%;
}

.contactus h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fcb11d;
}

.contact_container li{
  margin-bottom: 10px;
}

.contact_container button {
  background: none;
  border: none;
  font-size: 20px;
  color: #fcb11d;
  display: inline;
  text-align: center;
  margin-right: 5px;
}

.contact_container p {
  display: inline;
}

.contact_container p span {
  display: block;
}

.useful_links li a {
  text-decoration: none;
  color: white;
}

.useful_links li a:hover {
  color: #348cc1;
}

.logo_bottom .logo img {
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}


.socialmedia {
  background: #fbfbfb;
  text-align: center;
}

.socialmedia .container {
  padding-top: 15%;
  padding-bottom: 5%;
}

.socialmedia li {
  padding-bottom: 2%;
}

.socialmedia small {
  color: #348cc1;
}

.socialmedia small button {
  font-size: 14px;
  width: 20px;
  height: 20px;
}

.socialmedia button {
  display: inline;
  /* background: none; */
  border: none;
  font-size: 16px;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #348cc1;
}



/*-------------------------------------------------*/
/* FOR PC */
/*-------------------------------------------------*/

@media only screen and (min-width: 992px)
{
  .pc {
    display: block;
  }

  .sp {
    display: none;
  }

  li a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .top_pane {
    background: #0b3c5d;
    color: white;
  }

  .top_pane .container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1% 4%;
  }

  .top_pane address {
    flex-grow: 1;
  }

  .top_pane .phone {
    flex-grow: 1;
  }

  .top_pane .signin {
    flex-grow: 8;
    text-align: right;
  }

  .top_pane a:link {
    color: white;
  }

  .top_pane a:visited {
    color: white;
  }

  .top_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 91%;
    margin: 0 auto;
  }

  .logo {
    display: inline;
    width: 30%;
  }

  .navigation {
    width: 70%;
  }

  .top_nav .navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .top_nav .navigation ul li {
    padding: 1px;
    font-weight: bold;
    color: #0b3c5d;
    font-size: 17px;
  }

  .top_nav .navigation ul li a:link {
    color: #0b3c5d;
  }

  .top_nav .navigation ul li a:visited {
    color: #0b3c5d;
  }

  .top_nav .navigation a:hover {
    border-bottom: 4px solid #ffb21c;
  }


  .text_outlay_wrapper {
    background: rgba(11,60,93,0.65);
    max-width: 35%;
    margin-top: 280px;
    margin-bottom: 120px;
    margin-left: 60%;
  }

  .course {
    /* background-color: rgba(11, 60, 93, 0.9); */
    background: #0b3c5d;
    min-height: 430px;
  }

  .course h3 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .course ul {
    margin-top: 20px;
  }

  .course ul li a:link, a:visited {
    color: white;
  }

  .course ul li a:hover {
    color: #348cc1;
    /* font-weight: bold; */
    font-size: 18px;
  }


  .courses_container {
    background: #fbfbfb;
    padding: 230px;
    position: relative;
  }

  .courses_container .container {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    /* top: 20%; */

  }

  .top_wrapper {
    width: 66%;
  }

  .course_submission_form {
    width: 33%;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    /* background-color: rgba(11, 60, 93, 0.9); */
    background: #0b3c5d;
  }

  .course_submission_form h3 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .course_submission_form form {
    margin-top: 50px;
  }

  .course_submission_form form select {
    margin-top: 40px;
  }

  .course_submission_form form button {
    margin-top: 40px;
  }

  /* .admission_container {
    min-height: 500px;
  } */

  .admission_container .container {
    max-width: 93.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    max-height: 550px;
    overflow: hidden;
  }

  .join_us_image {
    order: 1;
    max-width: 50%;
    height: auto;
    /* max-height: 100%; */
    padding: 10px;
    object-fit: contain;

    /* flex: 1; */
  }

  .join_us_heading {
    order: 2;
    width: 50%;
    height: 30%;
    padding: 10px;

    /* flex: 1; */
  }

  .admission_form {
    order: 3;
    width: 50%;
    height: 70%;
    padding: 10px;

    /* flex: 1; */
  }

  .admission_form form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    max-height: 300px;
  }

  .admission_form form input {
    width: 45%;
    height: 50%;
    padding: 10px 20px;
  }

  .admission_form form select {
    width: 45%;
    height: 50%;
    padding: 10px 18px;
  }

  .news_and_events {
    background: #fbfbfb;
  }

  .news_and_events .container{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .news_and_events button {
    margin: 1% 0;
    /* padding: 1% 0; */
  }

  .news_container {
    margin: 10px;
    padding: 15px;
    background: white;
    max-width: 30%;
    min-height: 450px;
  }

  .news_and_events h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px 0 15px 0;
  }

  .news_article {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
  }

  .news_article p:nth-child(1){
    font-size: 14px;
  }

  .news_article h3 {
    font-size: 15px;
    padding: 0 0 5px 0;
  }

  .events_container {
    margin: 10px;
    padding: 15px;
    max-width: 30%;
    background: white;
    position: relative;
  }

  .events_container button {
    position: absolute;
    bottom: 1%;
  }


  .event_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .event_list:nth-child(2) {
   display: flex;
  }

  .event_list:nth-child(3) {
   display: flex;
  }

  .display_icon {
    flex: 0 0 5em;
    height: 5em;
    width: 5em;
    padding: 0;
    margin: 0;
  }

  .display_icon p {
    font-size: 15px;
  }

  .display_icon p span {
    font-size: 40px;
  }

  .display_text h3 {
    font-size: 15px;
    padding: 0px;
  }

  .aboutus_container {
    margin: 10px;
    padding: 15px;
    max-width: 30%;
    background: white;
  }

  .aboutus_container p {
    padding-bottom: 4%;
  }

  .aboutus_container img {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .research .container{
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 10px;
  }

  .research_box {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    flex-grow: 1;
  }

  .research_para .container {
    display: block;
    margin: 0 auto;
    padding: 0;
    flex: 0 0 18em;
    width: 18em;
    height: 11em;
    overflow: hidden;
    padding-top: 10px;
  }

  .research_para h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .research_para p {
    font-size: 16px;
  }

  .contactus .container {
    padding-top: 4.5%;
    padding-bottom: 7.5%;
  }

  .contactus .flex_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .flex_box :nth-child(1) {
    order: 2;
    /* flex-grow: 0; */
  }

  .flex_box :nth-child(2) {
    order: 1;
    /* flex-grow: 1; */
  }

  .flex_box :nth-child(3) {
    order: 3;
    /* flex-grow: 1; */
  }

  .text_container h2 {
    font-size: 50px;
    padding: 0;
  }

   h5 {
    font-size: 15px;
  }

  .useful_links ul {
    list-style: none;
  }

  .useful_links ul li {
    line-height: 1.4;
  }

  .useful_links ul li a {
    text-decoration: none;
  }

  .logo_bottom .logo img {
    width: 15%;
  }

  .socialmedia .container {
    padding-top: 7%;
    padding-bottom: 1%;
  }



}
