* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0 50;
  font-family: 'Dosis', sans-serif;
}

header .awesome {
  background: none;
  border: none;
  font-size: 30px;
  color: white;
}

li {
  list-style: none;
}

select, button, input {
  display: block;
}

.submit_button {
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background-color: #fcb11d;
  border: none;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

 .container {
  width: 96%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  display: block;
  /* background-color: red; */
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;

}

form select, form input {
  background-color: #328cc1;
  margin: 0 auto;
  padding: 10px 5px;
  width: 100%;
  margin-top: 20px;
  border: 2px white solid;
  color: white;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Header starts here */

.top_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: inline;
  width: 50%;
}

.logo h1 a img {
  max-width: 65%;
  vertical-align: middle;
  margin: 10px;
}

.menu_button {
  background-color: #0b3c5d;
  width: 50%;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu_button button i {
  display: inline;
}

/* MAIN - banner starts here */

.banner_wrapper {
  background-image: url("../img/mainbanner.jpg");
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
}

.text_outlay_wrapper {
  background: rgba(11,60,93,0.65);
  max-width: 80%;
  margin-top: 300px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
}

.text_outlay_wrapper h3 {
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

.text_outlay_wrapper h2 {
  color: #ffb21c;
  padding-bottom: 10px;
  padding-top: 10px;
}


/* Courses Container */

.courses_container {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.top_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.course {
  background-color: #0b3c5d;
  display: inline;
  width: 45%;
  padding: 15px;
}

.course h3 {
  color: #ffb21c;
  text-align: center;
}

.course p {
  line-height: 20px;
  color: white;
}

.course ul li {
  line-height: 30px;
  padding-left: 20%;
}

.course_submission_form {
  background-color: #0b3c5d;
  padding-top: 12px;
  padding-bottom: 30px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.course_submission_form h3 {
  color: #ffb21c;
}



/* Admissions  */

.admission_container {
  background-color: #0b3c5d;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.join_us_heading {
  width: 95%;
  margin: 0 auto;
}

.join_us_image {
  max-width: 95%;
  margin: 0 auto;
}

.join_us_image img {
  width: 100%;
}

/* News Events About Us */

.news_and_events {
  background-color: #fbfbfb;
}

.news_and_events h2 {
  text-align: center;
  font-size: 32px;
  color: #0b3c5d;
  position: relative;
  padding-bottom: 10px;
  text-decoration: underline;
}

.news_and_events h3 {
  padding-bottom: 5px;
  padding-top: 5px;

}

.news_and_events a {
  text-decoration: none;
  color: #348cc1;
}

.news_and_events a button{
  display: inline;
  background: none;
  border: none;
  font-size: 20px;
  color: #348cc1;

}

/* .news_and_events h2::after {
  content: ' ';
  background: #0b3c5d;
  width: 30%;
  height: 2px;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 100%;
} */



.news_container {
  padding-bottom: 30px;
}

.news_article {
  padding-bottom: 10px;
}

.events_container {
  padding-bottom: 40px;
}

.event_list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.display_icon {
  background-color: #fcb11d;
  margin-top: 10px;
  color: white;
  border: none;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  align-items: left;
}

.display_icon p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.display_icon p span {
  font-family: 'Dosis', sans-serif;
  display: block;
  font-size: 50px;
}

.display_text {
  margin-left: 20px;
}

.display_text h3 {
  padding-bottom: 10px;
}


.aboutus_container {
  max-width: 95%;
  margin: 0 auto;
}

.aboutus_container img {
  margin-top: 2.5%;
  width: 100%;
  /* object-fit: contain; */
}

.aboutus_container p {
  margin-top: 2.5%;
  line-height: 1.4;
  margin-bottom: 2.5%;
}
/* Research News */

.research h2 {
  text-align: center;
  font-size: 32px;
  color: #0b3c5d;
  position: relative;
  padding-bottom: 3%;
  text-decoration: underline;
}

.research_box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.research_box img{
  width: 100%;
  padding: 0;
  display: block;
}

.research_para {
  background: #0b3c5d;
  color: white;
}

.research_para h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.research_para .container {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  text-align: center;
  background: #fcb11d;
  color: #0b3c5d;
  padding: 5px 0px;
  font-weight: bold;
}
/* FOOTER */

.footer {
  background: #0b3c5d;
}

.footer .container {
  width: 100%;
  padding: 0;
}

.contactus {
  color: white;
  text-align: center;
  position: relative;
}

.contactus .container {
  padding-top: 5%;
  padding-bottom: 15%;
}

.contactus h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fcb11d;
}

.contact_container li{
  margin-bottom: 10px;
}

.contact_container button {
  background: none;
  border: none;
  font-size: 20px;
  color: #fcb11d;
  display: inline;
  text-align: center;
  margin-right: 5px;
}

.contact_container p {
  display: inline;
}

.contact_container p span {
  display: block;
}

.useful_links li a {
  color: white;
}

.useful_links li a:hover {
  color: #348cc1;
}

.logo_bottom .logo img {
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}


.socialmedia {
  background: #fbfbfb;
  text-align: center;
}

.socialmedia .container {
  padding-top: 15%;
  padding-bottom: 5%;
}

.socialmedia li {
  padding-bottom: 2%;
}

.socialmedia small {
  color: #348cc1;
}

.socialmedia small button {
  font-size: 14px;
  width: 20px;
  height: 20px;
}

.socialmedia button {
  display: inline;
  /* background: none; */
  border: none;
  font-size: 16px;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #348cc1;
}
